.lform{
  /* background-color: var(--fg-color); */
  border: 0.5vh solid var(--fg-color);
  width: 30vw;
  height: 65vh;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 3vh;
  box-shadow: 0px 0px 3vh rgba(89, 114, 240,0.1);
  text-align: center;
}
.lform:hover{
box-shadow: 0px 0px 3vh rgba(89, 114, 240,0.2);
}
.lform h1{
  margin-bottom: 6vh;
  font-weight: lighter;
  text-transform: uppercase;
}
.lform input[type="text"], .lform input[type="password"], .lform input[type="email"]{
  margin-bottom: 2.5vh;
  background-color: var(--bg-color);
  border: 0.2vh solid var(--fg-color);
  border-radius: 0.5vh;
  padding: 1vh 1vw;
  color: rgb(180,180,180);
}
.lform-b{
  padding: 1.5vh 2vh;
  margin-left: 3vw;
  margin-right: 3vh;
  margin-top: 5vh;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.lform-b:hover{
  border-radius: 0.7vh;
}
#log, #rej{
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 35%;
}
#rej{
  display: none;
}
#err{
  transform: translateX(-50%) translateY(-100%);
  position: absolute;
  left: 50%;
  top: 90%;
}
#err p{
  color: var(--red);
}
.c-border{
  width: 100vh;
  height: 100vh;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  animation: rotation 2s infinite linear;
}
.c-hidden{
  width: 70vh;
  height: 70vh;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
  border-radius: 2vh;
}
@keyframes rotation {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
.c-cont{
  width: 69vh;
  height: 69vh;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  background-color: var(--bg-color);
  border-radius: 2vh;
  text-align: center;
  padding-top: 10vh;
}
.c-cont h1{
  font-size: 3vh;
  color: var(--txt-full);
  margin-bottom: 35vh;
}
.c-cont p{
  font-size: 2.5vh;
  color: var(--txt-full);
}
.c-cont button{
  font-size: 2vh;
  padding: 1.5vh 5vh;
}
.c-cont span{
  color: var(--fg-color);
}
.c-cont img{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 45%;
  height: 15vh;
}
